

body {
    overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
label,
h6 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 16px;
      line-height: 1.6;
      margin: 0 0 35px; } }

      img{max-width:100%;}
      .jumbotron h1 {word-wrap: break-word;}

footer {
    margin-top: 20%;
    align-content: center;
    text-align: center;
}



@media (max-width: 768px) {
    #portfolioTextContainer {

        position: fixed;
    bottom: 10%;

    }

    #mobileChartImage {
        padding: 5%;
    }
    #priceAlt {
        text-align: center;
    }
    #priceSection {
        display: none;
    }
    #inspirationText {
        display: none;
    }
    #inspirationTextMobile {
    padding-top: 15%;
    }
    #priceSection {
        margin-bottom: 50%;
    }
    #contactContainer {
        margin-top: 20%;
    }
    #infoMerch {
        display: none;
    }
    #scrollButtonProduct {
        display: none;
    }
    #jumbotronImage {
        display: none;

    }
    #merch {
        padding-left: 2%;
        padding-right: 2%;
    }
    #priceText {
        display: none;
    }
    #palmTree {
        float: right;
        margin-top: 7px;
    }
    #hamburger {
        margin-top: 10px;
    }
    #chart-container {
        width: 100%;
        margin: 0%;
        height: 90%;
    }
    #myChart {
        height: 90%;
    }

    #mobileJumbotronImage {

        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #merch {
        display: flex;
        align-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 15%;
    }

 }
@media (min-width: 768px) {
    #portfolioTextContainer {

        position: fixed;
    bottom: 10%;
    left: 5%;
    }

    #pageLoadOverlayMobile {
        display: none;
    }
    #scrollButtonProduct {
        display: none;
    }
    #priceAlt {
        display: none;
    }
    #inspirationTextMobile {
        display: none;
    }
    #contactContainer {
        margin-top: 5%;
    }
    #navbarResponsive {
        float: right;
        align-content: right;
    }

    #merch {
        display: block;
        align-content: center;
        text-align: center;
        width: 100%;
        padding-top: 5%;
    }
    #mobileJumbotronImage {
        display: none;
    }

    #chart-container {
        width: 60%;
        padding-top: 15%;
    }
    #shirt {
        display: none;
    }
    .phoneText {
        display: none;
        padding-top: 0%;
    }

    #infoMerchText {
        position: absolute;
        top: 40%;
        left: 30%;
        font-size: 12px;
        margin-right: 10%;

    }
    #info {
        display: none;
    }
}


#warningMessages {
    font-size: 12px;
    padding-top: 30px;
    color: red;
}
#priceOverlayText {
    position: absolute;
       top: 50%;
       left: 50%;
       font-size: 15px;
       color: black;
       transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
       background-color: white;
       margin-top: 5%;
       border-radius: 10px;
       padding: 3%;
       width: 40%;
       align-content: center;
       text-align: center;
}

#priceOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}
#purchaseCancel {
    margin-top: 1%;
}

#seePriceButton {
    align-content: center;
}
#pageLoadOverlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1031;
    cursor: pointer;
}

#priceOverlayButton {
    margin-top: 3%;
    display: block;
    align-content: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;

    padding: 5%;
    border-radius: 10px;

}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#portfolioName {

}

#portfolioBottomText {

    float: left;
    font-size: 14pt;

}
.portfolioFadeText {

    font-size: 14pt;
    position: absolute;
    color: grey;
    display: none;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#gifLoader {
    padding-top: 5%;

}

#priceText {
    margin-bottom: 0%;
}
.jumbotron {
    background: none;
    position:relative;
    display:inline-block;


}

#reminder {
    margin-top: 1.5%;
}
#shirt {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#gallery {
    margin-top: 5%;
}
#mainNav {
    background-color: white;
    padding-top: 5px;
    border-bottom: #b7b7b7 1px solid;

}
#info {
    text-align: center;
    align-content: center;
    margin-top: 2%;
}

#formArea {
    margin-left: 20%;
    margin-right: 20%;
}

#scrollButton {
    position:absolute;
    bottom:30%;
    right:32%;
    width:100px;
    height:50px;
    background-color: white;

    opacity: .85;
   border:2px solid grey;
   height:50px;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   width:50px;

   display: none;

}
#mobileScrollButton {
    position:absolute;
    bottom:10%;
    right:45%;
    width:100px;
    height:50px;
    background-color: white;

    opacity: .85;
   border:2px solid grey;
   height:50px;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   width:50px;

   display: none;

}


#scrollButtonProduct {

    width:100px;
    height:50px;
    background-color: white;

    border:2px solid grey;
    height:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:50px;

}

<!--

.hide{
    display:none;
}
.show{
    display:block;
    position:absolute;
    left: 200px;
    top: 200px;
    color: blue;
}


#palmTree {
    height: 30px;
    width: 30px;
}
i {
    font-size: 30pt;
}

#brand {
    border: 3px solid grey;
    background-color: white;
    color: grey;

}
.amount{
    display: block;
    align-content: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
#formPurchaseArea {
    display: block;
    align-content: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
#amount {
    display: block;
    align-content: center;
    text-align: center;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
#form {
    align-content: center;
}
.paragraph {
    font-size: 10pt;
}
.copyright{
    font-size: 10pt;
}
#sendButton {
    margin-top: 10px;
}



#shirtInfo {
        align-content: center;
        width: 100%;
        margin-top: 5%;
}
