html,body { height:100%; }

body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(255, 235, 59); }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
label,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px; } }

      img{max-width:100%;}
      .jumbotron h1 {word-wrap: break-word;}

#pageLoadOverlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100;
    background-color: rgb(255, 235, 59);
    z-index: 1031;

}

#portfolioTextContainer {
    position: fixed;
    bottom: 10%;
    width: 100%;
    left: 5%;
}
#gifLoader {
    padding-top: 5%;

}
#name {
    background-color: rgb(181, 181, 181);
    padding-left: 30px;

    width: 100%;
}
a {
    color: black;
}
#portfolioFadeText {

    font-size: 14pt;
    position: absolute;
    color: grey;

    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



@media (min-width: 968px) {

    #navbar {
        background-color: rgb(181, 181, 181);
        margin-left: 22%;
        height: 100%;
        width: 15%;
        padding-top: 20%;

    }

}

@media (min-width: 768px) and (max-width: 968px) {

    #navbar {
        background-color: rgb(181, 181, 181);
        margin-left: 22%;
        height: 100%;
        width: 30%;
        padding-top: 20%;

    }

}

@media (max-width: 768px) and (min-width: 600px){

    #navbar {
        background-color: rgb(181, 181, 181);
        margin-left: 18%;
        height: 100%;
        width: 35%;
        padding-top: 20%;
        padding-bottom: 20%;

    }

}

@media (max-width: 600px) {
    #navbar {
        background-color: rgb(181, 181, 181);

        height: 100%;
        width: 75%;
        padding-top: 20%;
        padding-bottom: 20%;

    }

}
